@import './utils/mixins';
@import './utils/vars';
@import './base/reset';
@import './base/common';
@import './components/container';
@import './utils/hidden';
@import './components/modal';
@import './utils/placeholders';

@import './layout/header';
@import './layout/logo';
@import './layout/hero';
@import './components/btn';
@import './layout/about';
@import './components/title';
@import './layout/work';
@import './layout/team';
@import './layout/clients';
@import './layout/footer';

@import './layout/portfolio';
