.benefits {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefits__item {
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}

.benefits__item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: inherit;
  margin-bottom: 10px;
  @include mobile {
    text-align: center;
  }
}

.benefits__item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  width: 100%;
}

.benefits__icon-list {
  @extend %align-list;
  justify-content: center;
  width: 100%;
  height: 120px;
  background-color: var(--about-icon-color);
  margin-bottom: 30px;
  border-radius: 4px;
}
