.footer {
  background: var(--footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;

    text-align: center;
    justify-content: space-around;
    @include desktop {
      flex-wrap: nowrap;
      text-align: left;
      gap: 80px;
      justify-content: space-around;
    }
  }
}
.address__wrap {
  min-width: 232px;
}

.address__list {
  margin-top: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 9px;
}

.address__mail,
.address__tel {
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  padding-top: 12px;
}

.join__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.join__item {
  width: 44px;
  height: 44px;
}

.join__link {
  @extend %align-list;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--btn-text-color);
  &:hover,
  &:focus {
    background-color: var(--btn-background-color);
    color: var(--btn-text-color);
  }
}

.join__icon {
  fill: currentColor;
}

.subscribe {
  width: 100%;
  @include tablet {
    width: 450px;
  }
  @include desktop {
    width: 100%;
  }
}

.subscribe__wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  @include tablet {
    flex-direction: column;
  }
  @include desktop {
    flex-direction: unset;
    flex-wrap: nowrap;
    justify-content: center;
    width: 570px;
    gap: 8px;
  }
}

.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  padding-top: 12px;
}

.subscribe__modal {
  width: 100%;
}

.subscribe__input {
  display: block;
  width: 100%;
  height: 50px;
  align-items: center;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: var(--btn-text-color);
  &::placeholder {
    padding-top: 15px;
  }
  @include tablet {
    width: 450px;
  }
  @include desktop {
    width: 370px;
  }
}

.subscribe__wrap button {
  padding: 10px 28px;
  display: flex;
  align-items: center;
  text-align: center;
}

.subscribe__icon {
  fill: var(--btn-text-color);
  margin-left: 12px;
}
