.btn-menu-open {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: 1px solid transparent;
  &:hover,
  &:focus {
    fill: var(--link-color);
  }
  @include tablet {
    display: none;
  }
}

.btn-menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;
  &:hover,
  &:focus {
    fill: var(--link-color);
  }
}

.mob-menu {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow: auto;
  }
}

.icon_open-mob {
}
.mob-menu__list {
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-menu__tel {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-bottom: 32px;
}
.mob-menu__mail {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 64px;
}

.mob-menu__soc {
  display: flex;
  gap: 10px;
}
.mob__soc-item {
}
.mob-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mob__soc-item + .mob__soc-item {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 10px;
}
