.btn {
  min-width: 200px;
  height: 50px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--btn-text-color);
  background: var(--btn-background-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 11px 32px;
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background: #188ce8;
  }
}
