.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 450px;
  min-height: 609px;
  padding: 40px;
  @include desktop {
    width: 528px;
    min-height: 581px;
  }
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .backdrop.is-hidden & {
    transform: translate(50%, 0) scale(0);
  }
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  @extend %align-list;
  justify-content: center;
  background: transparent;
  padding: 6px;
  cursor: pointer;
}

.modal-icon:hover,
.modal-icon:focus {
  fill: var(--btn-background-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 12px;
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 4px;
}

.modal-field {
  &:nth-child(-n + 3) {
    margin-bottom: 10px;
  }
  &:nth-child(4) {
    margin-bottom: 20px;
  }
  &:nth-child(5) {
    margin-bottom: 30px;
  }
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 42px;
  outline: transparent;
  cursor: pointer;
  &:hover,
  &:focus {
    outline: 1px solid var(--btn-background-color);
    border-color: var(--btn-background-color);
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  .modal-input:hover + &,
  .modal-input:focus + & {
    fill: var(--btn-background-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal-coment {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding: 12px 16px;
  resize: none;
  &:hover,
  &:focus {
    outline: 1px solid var(--btn-background-color);
    border-color: var(--btn-background-color);
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.check-box {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--text-color);
  @extend %align-list;
  justify-content: center;
  a {
    color: var(--link-color);
  }
  span {
    border: 1px solid var(--title-color);
    margin-right: 7px;
    @extend %align-list;
    justify-content: center;
  }
}

.input-check:checked + .check-box span {
  background-color: var(--btn-background-color);
  border: none;
  border-radius: 2px;
}

.check-icon {
  fill: transparent;
  padding: 2px;
  .input-check:checked + .check-box & {
    fill: var(--btn-text-color);
  }
}

.check-text {
  width: 100%;
  font-size: 11px;
  line-height: calc(14 / 12);
  @include desktop {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.modal-btn-send {
  display: block;
  margin: 0 auto;
  border: 0px;
}

/* .check-text::before{
    content: '';
    width: 16px;
    height: 15px;
    border: 1px solid var(--title-color);
    margin-right: 7px;
  }
  .input-check:checked + .check-text::before{
    background-color: var(--btn-background-color) ;
    background-image: url(../images/icon/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
} */
