.work__title,
.team__title,
.clients__title {
  font-weight: 700;
  font-size: 36px;
  // line-height: 1.17;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: inherit;
  margin-bottom: 50px;
}
