html {
  box-sizing: border-box;
}

body {
  font-family: Roboto, serif;
  color: var(--title-color);
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  &:hover,
  &:focus {
    color: var(--link-color);
  }
}
