html {
  box-sizing: border-box;
}

body {
  font-family: Roboto, serif;
  color: var(--title-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link {
  text-decoration: none;
  &:hover, &:focus{
    color: var(--link-color);
  }
}
