:root {
    --link-color: #2196f3;
    --title-color: #212121;
    --text-color: #757575;
    --btn-text-color: #ffffff;
    --btn-background-color: #2196f3;
    --footer-background: #2f303a;
    --icon-color: #afb1b8;
    --about-icon-color: #f5f4fa;
  }